{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<table class="tg">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <tr>
    <td class="tg-c3ow" rowspan="4" width=256> 
        <a href="{{ .RelPermalink }}"><img src="{{ .RelPermalink }}image-thumb.png" width=512/></a>
    </td>
    <td class="tg-0pky">
        <span class="teaching-title">
            <a href="{{ .RelPermalink }}">{{ .Params.title | markdownify }}</a>
        </span>
        <span class="teaching-date">
            ({{ .Params.course_date | markdownify }})
        </span>
    </td>
  </tr>
  <tr>
    <td class="tg-0pky">
        <span class="teaching-authors">
            {{ $authors := delimit .Params.authors ", " }}
            {{ replace $authors "Alexey Artemov," "**Alexey Artemov,**" | markdownify }}
        </span>
    </td>
  </tr>
  <tr>
    <td class="tg-0pky">
        <span class="teaching-abstract">
            {{ .Params.abstract | markdownify }}
        </span>
    </td>
  </tr>
  <tr>
    <td class="tg-0lax">
        {{ if (isset .Params "url_notes") }}
        <span class="teaching-links">
            [<a href="{{ .Params.url_notes }}">Lecture notes</a>]
        </span>
        {{ end }}
        {{ if (isset .Params "url_code") }}
        <span class="teaching-links">
            [<a href="{{ .Params.url_code }}">Code</a>]
        </span>
        {{ end }}
        {{ if (isset .Params "url_video") }}
        <span class="teaching-links">
            [<a href="{{ .Params.url_video }}">Videos</a>]
        </span>
        {{ end }}

        {{ if (isset .Params "url_syllabus") }}
        <span class="teaching-links">
            [<a href="{{ .Params.url_syllabus }}">Syllabus</a>]
        </span>
        {{ end }}
        {{ if (isset .Params "url_lms") }}
        <span class="teaching-links">
            [<a href="{{ .Params.url_lms }}">LMS</a>]
        </span>
        {{ end }}

        {{ if (isset .Params "url_course") }}
        <span class="teaching-links">
            [<a href="{{ .Params.url_course }}">Course page</a>]
        </span>
        {{ end }}
    </td>
  </tr>
  {{ end }}
</table>

<!--
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <p>{{ .Params.publication }}</p>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
-->

{{ partial "footer.html" . }}

