{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<table class="tg">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "").ByDate.Reverse }}
  <tr class="publications-separator"><td/></tr>
  <tr>
    <td class="publications-teaser" rowspan="5" width=256> 
        <a href="{{ .RelPermalink }}"><img src="{{ .RelPermalink }}image-thumb.jpg" width=512/></a>
    </td>
    <td class="tg-0pky">
        <span class="publications-title">
            <a href="{{ .RelPermalink }}">{{ .Params.title | markdownify }}</a>
        </span>
    </td>
  </tr>
  <tr>
    <td class="tg-0pky">
        <span class="publications-authors">
            {{ $authors := delimit .Params.authors ", " }}
            {{ replace $authors "Alexey Artemov" "**Alexey Artemov**" | markdownify }}
        </span>
    </td>
  </tr>
  <tr>
    <td class="tg-0pky">
        <span class="publications-venue">
            {{ .Params.venue | markdownify }} —
        </span>
        <span class="publications-venue">
            {{ .Params.course_date | markdownify }}
        </span>
    </td>
  </tr>
  <tr>
    <td class="tg-0pky">
        <span class="publications-abstract">
            {{ .Params.abstract | markdownify }}
        </span>
    </td>
  </tr>
  <tr>
    <td class="tg-links">
        {{ if (isset .Params "url_notes") }}
            {{ range .Params.url_notes }}
            <span class="publications-links">
                <a href="{{ .url }}">Materials {{ .year }}</a>
            </span>
            {{ end }}
        {{ end }}

        {{ if (isset .Params "url_code") }}
        <span class="publications-links">
            {{ range .Params.url_code }}
            <span class="publications-links">
                <a href="{{ .url }}">Code {{ .year }}</a>
            </span>
            {{ end }}
        </span>
        {{ end }}

        {{ if (isset .Params "url_video") }}
        <span class="publications-links">
            {{ range .Params.url_video }}
            <span class="publications-links">
                <a href="{{ .url }}">Videos {{ .year }}</a>
            </span>
            {{ end }}
        </span>
        {{ end }}

        {{ if (isset .Params "url_syllabus") }}
        <span class="publications-links">
            {{ range .Params.url_syllabus }}
            <span class="publications-links">
                <a href="{{ .url }}">Syllabus {{ .year }}</a>
            </span>
            {{ end }}
        </span>
        {{ end }}

        {{ if (isset .Params "url_course") }}
        <span class="publications-links">
            {{ range .Params.url_course }}
            <span class="publications-links">
                <a href="{{ .url }}">Course {{ .year }}</a>
            </span>
            {{ end }}
        </span>
        {{ end }}

    </td>
  </tr>

  {{ end }}
  <tr class="publications-separator"><td/></tr>
</table>


{{ partial "footer.html" . }}

