{{ partial "header.html" . }}
<div class="article-meta">
    <h1>{{ .Params.title | markdownify }}</h1>
</div>

<div class="single-authors-wrap">
    <table class="single-authors" id="single-authors">
        <tr>
        {{ range $index, $element := .Params.authors }}
            <td>{{ $element }}</td>
            {{ if eq (mod (add $index 1) 4) 0 }}
            </tr>
            <tr>
            {{ end }}
        {{ end }}
        </tr>
    </table>
</div>


<div class="publication-single-teaser">
    <img src="{{ .RelPermalink }}image-big.jpg" width=768/>
</div>


<div>
    <h2>Information</h2>
    <div class="teaching-single-venue">
        <span><em>Versions (taught during): </em>{{ .Params.course_version }} ({{ .Params.course_date }})</span>
    </div>

    <div class="teaching-single-venue">
        <span><em>Venue: </em>{{ .Params.venue }}</span>
    </div>

    <div class="teaching-single-venue">
        <span><em>Taught for: </em>{{ .Params.level }} in {{ .Params.program }}</span>
    </div>
</div>



<div>
    <h2>Abstract</h2>
    <span class="publications-single-abstract">
        {{ .Params.abstract | markdownify }}
    </span>
</div>

<main>
{{ .Content }}
</main>


<div>
    <h2>Course Links</h2>
    <ul>
        {{ if (isset .Params "url_notes") }}
            {{ range $.Params.url_notes }}
            <li>
                Slides and handouts {{ .year }}: <a href="{{ .url }}">{{ .url }}</a>
            </li>
            {{ end }}
        {{ end }}

        {{ if (isset .Params "url_code") }}
            {{ range $.Params.url_code }}
            <li>
                Practicals and source code {{ .year }}: <a href="{{ .url }}">{{ .url }}</a>
            </li>
            {{ end }}
        {{ end }}

        {{ if (isset .Params "url_video") }}
            {{ range $.Params.url_video }}
            <li>
                Video recordings {{ .year }}: <a href="{{ .url }}">{{ .url }}</a>
            </li>
            {{ end }}
        {{ end }}

        {{ if (isset .Params "url_syllabus") }}
            {{ range $.Params.url_syllabus }}
            <li>
                Official syllabus {{ .year }}: <a href="{{ .url }}">{{ .url }}</a>
            </li>
            {{ end }}
        {{ end }}

        {{ if (isset .Params "url_course") }}
            {{ range $.Params.url_course }}
            <li>
                Official course page {{ .year }}: <a href="{{ .url }}">{{ .url }}</a>
            </li>
            {{ end }}
        {{ end }}

    </ul>
</div>

{{ partial "footer.html" . }}
