<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}

      <li class="menu-standard"><a href="mailto:artonson@yandex.ru">
        <img src="https://simpleicons.org/icons/maildotru.svg" style="max-width:3%;min-width:18px;" alt="E-Mail"/>
       </a></li>
      <li class="menu-standard"><a href="https://github.com/artonson">
        <img src="https://simpleicons.org/icons/github.svg" style="max-width:3%;min-width:18px;" alt="Github repo" />
      </a></li>
      <li class="menu-standard"><a href="https://scholar.google.ru/citations?user=5lVsH-IAAAAJ&hl=en">
        <img src="https://simpleicons.org/icons/googlescholar.svg" style="max-width:3%;min-width:18px;" alt="Google Scholar"/>
      </a></li>
      <li class="menu-standard"><a href="https://www.youtube.com/channel/UCO946RPg2Yp2PXFzon9_73g">
        <img src="https://simpleicons.org/icons/youtube.svg" style="max-width:3%;min-width:18px;" alt="Youtube"/>
      </a></li>
      <li class="menu-standard"><a href="https://www.linkedin.com/artonson">
        <img src="https://simpleicons.org/icons/linkedin.svg" style="max-width:3%;min-width:18px;" alt="LinkedIn"/>
      </a></li>
      <li class="menu-standard"><a href="https://twitter.com/artonson">
        <img src="https://simpleicons.org/icons/twitter.svg" style="max-width:3%;min-width:18px;" alt="Twitter"/>
      </a></li>
      <li class="menu-standard"><a href="https://t.me/research_meets_art">
        <img src="https://simpleicons.org/icons/telegram.svg" style="max-width:3%;min-width:18px;" alt="Telegram Channel"/>
      </a></li>

    </ul>
    <hr/>
    </nav>
